<div class="candidatesImgCover"></div>

<div class="candidatesWrapper">
    <h3 class="navigation"></h3>
    <i class="fa fa-spinner fa-pulse fa-5x"></i>
    <div class="myJobsBox">
        <header>
            <h2>Candidates</h2>
        </header>

        <form method="get" action="">
            <input type="text" placeholder="Find Candidate" ng-model="searchText"
                   class="form-control">
        </form>
        <button type="button" class="btn btn-default"
                ng-click="sort('-compability')">
            <img class="Garrow" src="images/Garrow.png">
            Sort By Compatibility
        </button>
        <button type="button" class="btn btn-default" ng-click="sort('-date')">
            <img class="Garrow" src="images/Garrow.png">
            Sort By Date
        </button>
    </div>
    <ul class="engineering candidatesTabs" ng-init="tab=0; unreadCvs()">
        <li ng-class="{active:tab == 0, selected:tab == 0}"><a ng-click="tab = 0; unreadCvs()">Unread</a></li>
        <li ng-class="{active:tab == 1, selected:tab == 1}"><a ng-click="tab = 1; likedCvs()">Liked</a></li>
        <li ng-class="{active:tab == 2, selected:tab == 2}"><a ng-click="tab = 2; unlikeCvs()">Unliked</a></li>
        <li ng-class="{active:tab == 3, selected:tab == 3}"><a ng-click="tab = 3; Hired()">Hired</a></li>
    </ul>

    <div class="tabsWrapper">
        <div ng-show="tab == 0" class="fade in active">
            <h3>{{candidatesLength}}</h3>
            <!-- jobs sections -->
            <section
                    ng-repeat="candidate in candidates | filter:searchText | orderBy:sortby">
                <div class="candidates animated fadeInUp">

                    <div><a ng-click="checkIfArchivePage()" href="#/unread/{{jobId}}/resume/{{candidate._id}}"><img src="./images/logo.png"></a>
                        <h5>{{candidate.sub_sector[0]}}</h5>
                    </div>
                    <div>

                        <a ng-if="tab == 0" href="#/unread/{{jobId}}/resume/{{candidate._id}}">
                            <h3>{{candidate.user['first_name']}} {{candidate.user['last_name']}}</h3>

                            <p
                                    ng-model="searchText.sector"
                                    ng-bind-html="candidate.sector | highlight:searchText">
                                {{candidate.sector}} ,{{candidate.academy.academy_type[0]}} ,
                                {{candidate.academy.degree_type[0]}} </p>
                            <section circle id="{{ 'circle-container-' + $index }}"
                                     data-compability="{{candidate.compatibility_level}}">
                                <h5>{{candidate.compatibility_level.toFixed(0)}}%</h5>
                            </section>
                        </a>
                    </div>
                </div>
            </section>
        </div>

        <div ng-show="tab == 1" class="fade in active">
            <h3>{{candidatesLength}}</h3>
            <!-- jobs sections -->
            <section
                    ng-repeat="candidate in likeCandidates | filter:searchText | orderBy:sortby">
                <div class="candidates animated fadeInUp likeCandidates">


                    <div>
                        <i ng-if="archivePage == false" id="candidateLike-{{candidate._id}}" class='fa fa-thumbs-o-up fa-2x like'
                           ng-click='addCandidateToLike(candidate._id,candidate.user._id)'></i>

                        <a href="#/like/candidates/{{jobId}}/resume/{{candidate._id}}"><img src="./images/logo.png"></a>
                        <a href="" ng-click='hire(candidate._id,candidate.user._id)'> <img ng-if="archivePage == false"  src="./images/handshake1.png">
                        </a>
                        <article ng-repeat="subsector in candidate['sub_sector']"><h5> | {{subsector}} | </h5></article>

                    </div>
                    <div>

                        <a ng-if="tab == 1" href="#/like/candidates/{{jobId}}/resume/{{candidate._id}}">
                            <h3>{{candidate.user["first_name"]}} {{candidate.user["last_name"]}}</h3>

                            <p
                                    ng-model="searchText.sector"
                                    ng-bind-html="candidate.sector | highlight:searchText">
                                {{candidate.sector}} ,{{candidate.academy.academy_type[0]}} ,
                                {{candidate.academy.degree_type[0]}} </p>
                            <section circle id="{{ 'circle-container-' + $index }}"
                                     data-compability="{{candidate.compatibility_level}}">
                                <h5>{{candidate.compatibility_level.toFixed(0)}}%</h5>
                            </section>
                        </a>
                    </div>
                </div>
            </section>
        </div>
        <div ng-show="tab == 2" class="fade in active">
            <h3>{{candidatesLength}}</h3>
            <!-- jobs sections -->
            <section
                    ng-repeat="candidate in unlikeCandidates | filter:searchText | orderBy:sortby">
                <div class="candidates animated fadeInUp unlikeCandidates">
                    <div><i ng-if="archivePage == false" id="candidateLike-{{candidate._id}}"
                            class='fa fa-thumbs-o-up fa-2x unlike'
                            ng-click='addCandidateToLike(candidate._id,candidate.user._id)'></i> <a
                            ng-click="checkIfArchivePage()"
                            href="#/unlike/candidates/{{jobId}}/resume/{{candidate._id}}"><img
                            src="./images/logo.png"></a>

                        <article ng-repeat="subsector in candidate['sub_sector']"><h5> | {{subsector}} | </h5></article>

                    </div>
                    <div>

                        <a ng-if="tab == 2" href="#/unlike/candidates/{{jobId}}/resume/{{candidate._id}}">
                            <h3>{{candidate.user["first_name"]}} {{candidate.user["last_name"]}}</h3>

                            <p
                                    ng-model="searchText.sector"
                                    ng-bind-html="candidate.sector | highlight:searchText">
                                {{candidate.sector}} ,{{candidate.academy.academy_type[0]}} ,
                                {{candidate.academy.degree_type[0]}} </p>
                            <section circle id="{{ 'circle-container-' + $index }}"
                                     data-compability="{{candidate.compatibility_level}}">
                                <h5>{{candidate.compatibility_level.toFixed(0)}}%</h5>
                            </section>
                        </a>
                    </div>
                </div>
            </section>
        </div>
        <div ng-show="tab == 3" class="fade in active">
            <h3>{{candidatesLength}}</h3>
            <!-- jobs sections -->
            <section
                    ng-repeat="candidate in hiredCandidates | filter:searchText | orderBy:sortby">
                <div class="candidates animated fadeInUp hiredCandidates">

                    <div>

                        <a ng-click="checkIfArchivePage()" href="#/hired/candidates/{{jobId}}/resume/{{candidate._id}}"><img
                                src="./images/logo.png"></a>
                        <article ng-repeat="subsector in candidate['sub_sector']"><h5> | {{subsector}} | </h5></article>
                    </div>
                    <div>

                        <h3>{{candidate.user["first_name"]}} {{candidate.user["last_name"]}}</h3>

                        <p ng-model="searchText.sector"
                           ng-bind-html="candidate.sector | highlight:searchText">
                            {{candidate.sector}} ,{{candidate.academy.academy_type[0]}} ,
                            {{candidate.academy.degree_type[0]}} </p>
                        <section circle id="{{ 'circle-container-' + $index }}"
                                 data-compability="{{candidate.compatibility_level}}">
                            <h5>{{candidate.compatibility_level.toFixed(0)}}%</h5>
                        </section>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>

<!-- MODALS -->
<input type="hidden" class="starModal btn btn-info btn-lg"
       data-toggle="modal" data-target="#myModal">
<input type="hidden" class="leftModal btn btn-info btn-lg"
       data-toggle="modal" data-target="#leftModal">

<!-- Modal -->
<section class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rate by Stars</h4>
            </div>
            <div class="modal-body">
                <!-- STAR RANK -->
                    <span class="rating  animated pulse">
                <input type="radio" class="rating-input" id="rating-5" ng-click="rating(5)" name="rating">
                <label for="rating-5" class="rating-star"
                       ng-style="{'background-position':'0 -16'}"></label>
                <input type="radio" class="rating-input" id="rating-4" ng-click="rating(4)" name="rating">
                <label for="rating-4" class="rating-star"
                       ng-style="{'background-position':'0 -16'}"></label>
                <input type="radio" class="rating-input" id="rating-3" ng-click="rating(3)" name="rating">
                <label for="rating-3" class="rating-star"
                       ng-style="{'background-position':'0 -16'}"></label>
                <input type="radio" class="rating-input" id="rating-2" ng-click="rating(2)" name="rating">
                <label for="rating-2" class="rating-star"
                       ng-style="{'background-position':'0 -16'}"></label>
                <input type="radio" class="rating-input" id="rating-1" ng-click="rating(1)" name="rating">
                <label for="rating-1" class="rating-star"
                       ng-style="{'background-position':'0 -16'}"></label>
            </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default bringNextCandidate" data-dismiss="modal"
                        ng-click="bringNextCandidate('liked',null,userId)">
                    Close
                </button>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<section class="modal fade" id="leftModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Description</h4>
                <h5 class="modal-title">Please type your Reason</h5>
            </div>
            <div class="modal-body">

                <div class="form-group">
                <textarea class="form-control" rows="5" name="original_text" ng-model="original_text"
                          id="comment"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"
                        ng-click="bringNextCandidate('unliked',original_text,userId)">
                    Close
                </button>
            </div>
        </div>
    </div>
</section>

