<div class="googleSignInWrapper" ng-init="init()">
    <i class="fa fa-spinner fa-pulse fa-5x"></i>
    <div class="googleSignInImg"></div>

    <div class="googleSignInBox">
        <h3>Find the best matching</h3>

        <div class="seeker">
            <a href="" ng-click="userType('jobSeeker')">
                <img alt="job seeer" src="images/jobsee.png">
                <h4>Find my next job</h4>
            </a>
        </div>
        <div class="employer">
            <a href="" ng-click="userType('employer')">
                <img alt="employer" src="images/emp.png">
                <h4>Find the best employee</h4>
            </a>
        </div>
    </div>
</div>
