/****************************************************************************************************/
/****************************************************************************************************************************/
/****************************************************** MEDIA - MAX 767 ********************************************************/
/****************************************************************************************************************************/
/****************************************************************************************************/
@media ( max-width: 767px) {

    .jobListLi .rating{
        right: 58px;
        top: 8px;
    }

    #profilePicture {
        display: none;
    }

    footer ul {
        margin-left: 4%;
        width: 100%;
    }

    .employer{
        margin-top:0px;
    }

    /*preview cv*/
    .modal{
        z-index: 10000;
    }

    .timeline-heading .mobileTitle{
        display: block;
        font-size: 22px;
        font-weight: bold;
    }

    #previewCV > div {
        width: 98%;
        top: 49px;
        margin: 1%;
    }

    .timelineForPreview > li > .timeline-badge {
        top: 0px;
    }

    .timelineForPreview > li > .timeline-panel {
        width: 100%;
    }

    .timelineForPreview:before{
        display: none;
    }

    /*job*/

    .jobWrapper .buttonBorder button {
        /*margin-left: 40%;*/
    }

    .jobWrapper .thumbnail {
        display: block;
        padding: 4px;
        margin-bottom: 20px;
        line-height: 1.42857143;
        background-color: transparent;
        border: 1px solid #ddd;
    }

    .jobWrapper .langs {
        width: 100%;
    }

    .jobWrapper .pagination + section h5 {
        top: 42%;
        font-size: 22px;
        left: 34%;
    }

    .jobWrapper .newJob button, html .jobWrapper input[type=button] {
        font-size: 16px;
    }

    .profileWrapper .btn-group > .btn:last-child:not(:first-child), .jobWrapper .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
        width: 100%;
    }

    .profileWrapper .profileWrapper .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle), .jobWrapper .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        width: 100%;
    }

    .profileWrapper .profileWrapper .btn-group > .btn:last-child:not(:first-child), .jobWrapper .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
        width: 100%;
    }

    .profileWrapper .btn-group > .btn:first-child, .jobWrapper .btn-group > .btn:first-child {
        margin-left: 0;
        width: 100%;
        border-radius: 0;
    }

    .profileWrapper .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        border-radius: 0;
        width: 100%;
    }

    .profileWrapper .parseB{
        height: 38px;
        text-align: center;
        float: left;
        margin-top: 52px;
        margin-left: -22px;
    }

    .profileWrapper .sendButtonP{
        font-size: 19px;
        text-align: center;
        margin: 0 auto;
        margin-top: 16px;
    }
    .jobWrapper .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        border-radius: 0;
        color: #000;
        width: 100%;
    }

    .jobWrapper .caption div {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .jobWrapper .jobEdit {
        padding: 10px 0px 10px 0px;
        padding-left: 0%;
        padding-right: 0%;
        margin-bottom: 0px;
    }

    .jobWrapper .pagination-lg > li > a {
        font-size: 13px;
    }

    .jobWrapper .buttonBorder {
        right: 0;
        bottom: 0px;
    }

    .contentWrapper article {
        float: left;
        width: 100%;
        margin-right: 1%;
    }

    /*searcj job html*/

    #sendCVstatus .modal-content {
        margin-top: 50px;
    }
    .jobListLi section {
        position: absolute;
        width: 55px;
        top: 17px;
        right: 40%;
    }

    .searchJobsWrapper .myJobsBox {
        height: 100px;
    }

    .compatibilityText{
        /* display: none; */
        right: 2%;
        top: 10px;
    }

    .jobListLi section h5 {
        position: absolute;
        top: 15px;
        left: 19%;
        font-size: 25px;
        font-weight: bold;
        font-family: almoni-dl-aaa-regular;
    }

    .searchJobsWrapper header h2, .yourJobsWrapper header h2 {
        font-size: 30px;
    }

    .searchJobsWrapper button, .yourJobsWrapper button {
        font-size: 14px;

    }

    .navbar-header {
        background-color: #231f20;
        height: 54px;
    }

    .searchJobsWrapper .myJobsBox {
        margin-top: 52px;
        width: 100%;
    }

    .searchJobsWrapper .logoInJobBox {
        width: 44px;
        position: relative;
        left: 13px;
        top: 9px;
        border-radius: 8px;
    }

    .searchJobsWrapper .jobsList article {
        padding-left: 14px;
        padding-right: 14px;
        margin-left:0px;
    }

    .searchJobsWrapper .jobListLi section {
        right: 12px;
        top: 30px;
    }

    .searchJobsWrapper .jobsList ul li {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .searchJobsWrapper .jobsList ul li {
        border: 1px solid #fff;
        padding: 0;
    }

    .searchJobsWrapper .checkMyCVButton {margin-bottom: 34px;font-size: 20px;}
    .skills p{
    width: 100%;
}

    .searchTitles p{
    width: 100% !important;
}
    /*your jobs*/

    .yourJobsWrapper .compatibilityText {
        top: 38px;
    }
    
    .yourJobsWrapper .myJobsBox {
        margin-top: 60px;
    }

    .yourJobsWrapper .hired {
        position: absolute;
        top: -21px;
        left: 22%;
        width: 106px;
        background: #C11B17;
    }

    .unlikeReason {
        margin: 10px;
    }

    .yourJobsWrapper .myJobsBox {
        height: 148px;
        width: 100%;
        position: relative;
        margin-top: 50px;
        margin-right: 0;
    }

    .jobsList ul li {

        padding: 0px;
        border: 0px solid #231f20;
    }

    .yourJobsWrapper .jobListLi i.fa.fa-times {
        position: relative;
        top: -22px;
        left: -10px;
        font-size: 44px;
    }

    .yourJobsWrapper .jobListLi section {
        right: 2%;
        top: 60px;
    }

    .yourJobsWrapper .companyLogoN {
        width: 44px;
        position: relative;
        left: 13px;
        top: 9px;
        border-radius: 8px;
    }

    .yourJobsWrapper .jobsList article {
        padding-left: 14px;
        padding-right: 20px;
        margin-left: 0px;
        margin-top: 4px;
    }

    .yourJobsWrapper .fa-heart-o, .fa-heart {
        position: absolute;
        right: 5px;
        z-index: 2;
        cursor: pointer;
        top: 11px;
        font-size: medium;
    }

    .yourJobsWrapper .readUnread {
        position: absolute;
        right: 43px;
        top: -7px;
        font-size: medium;
    }

    .yourJobsWrapper .jobsList ul li {
        width: 100%;
        margin-top: 22px;
        margin-bottom: 40px;
        border: 1px solid #fff;
    }

    .yourJobsWrapper .trashMyJobs {
        right: 32px;
        top: 11px;
        font-size: medium;
    }

    /*match*/
    .matchpageWrapper .jobDetailsLS img {
        width: 66px;
        border-radius: 10px;
        margin-bottom: 24px;
    }
    .matchpageWrapper {
        margin-top: 38px;
    }

    .matchpageWrapper .redGrade {
        font-size: 16px;
        font-weight: normal;
    }

    .matchpageWrapper .formula-result p {
        color: #FFFFFF;
        font-size: 3vh;
        display: block;
        text-align: left;
        margin-top: 5px;
        font-size: 18px;
    }

    .matchpageWrapper .skillbar-title {
        position: absolute;
        top: -34px;
        left: -18px;
        font-size: 18px;
    }

    .matchpageWrapper .matchResult h2 {
        font-size: 20px;
    }

    .matchpageWrapper .skillsTitleM {
        width: 100%;
        height: 50px;
        padding-top: 14px;
        float: left;
        margin: 0 auto;
    }

    .matchpageWrapper #user-container {
        width: 24%;
        float: left;
        position: relative;
        margin: 20px auto;
    }

    .matchpageWrapper #user-container h5 {
        font-size: 5vw;
        left: 32%;
        top: 34px;
    }

    .matchpageWrapper h4 {
        padding-top: 16px;
    }

    .matchpageWrapper .matchResult {
        height: 280px;
    }

    .matchpageWrapper .formula-result{
        float: left;
    }
    .matchpageWrapper .skillbar{
        float: left;
        width: 90%;
    }

    /*profile*/
    .parserExperienceYearsLabel {
        width: 30%;
    }
    .parserExperienceLanguage {
        width: 70%;
    }
    .userProfile .parseExperience label {
        margin-right: 0;
    }

    .profileWrapper .engineering li {
        margin-right: 6px;
    }

    .parseButton{
        float: none;
    }

    .profileWrapper > ul li {
        /* width: 133px; */
        margin-top: -12px;
    }

    .profileWrapper .form-control {
        width: 100%;
    }

    .profileWrapper .timeline:before{
        display: none;
    }

    .profileWrapper .nav > li > a {
        font-size: 18px;
        padding-left: 0;
        padding-right: 0;
    }

    .userProfile h4 {
        font-size: 20px;
    }

    .profileWrapper header {
        margin-top: 50px;
    }

    .profileWrapper .timeline-heading .form-control {
        width: 100%;
    }

    .profileWrapper .cvPreview .btn-default {
        width: 80%;
    }

    .profileWrapper .timeline-panel label {
        font-weight: bold;
        font-size: 18px;
    }

    .profileWrapper .timeline-heading {
        padding-left: 2%;
    }

    .profileWrapper .timeline-badge .fa {
        margin-top: 6px;
    }

    .profileWrapper .userProfile {
        margin-top: 0;
    }

    .profileWrapper .tab-content {
        padding-left: 4%;
        padding-right: 4%;
    }

    .profileWrapper .container {
        padding-right: 4px;
        padding-left: 4px;
        margin-right: auto;
        margin-left: auto;
    }

    .borderTimelineTitle1 {
        padding: 4px;
        border: 4px solid #000;
        width: 107px !important;
        height: 50px;
        float: left;
        margin-top: 10px;
        display: none;
    }

    .borderTimelineTitle2 {
        padding: 4px;
        border: 4px solid #000;
        width: 117px !important;
        height: 49px;
        float: right;
        margin-top: 10px;
        display: none;
    }

    .resumeYears > div h3:nth-child(1) {
        float: left;
        background: #231f20;
        color: #fff;
        padding: 8px;
        font-size: 17px;
        font-weight: normal;
    }

    .profileWrapper .page-header h1 {
        font-size: 24px;
    }

    .profileWrapper .page-header {
        width: 50%;
        margin: 0 auto;
    }

    .profileWrapper .timeline > li > .timeline-badge {
        top: -12px;
        left: 53.7%;
    }

    .profileWrapper .parser {
        float: left;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /*my jobs*/
    .jobs > div:nth-child(2) {
        border-bottom: 1px solid #fff;
        padding-left: 5px;
    }

    .jobs > div:nth-child(1) h3 {
        font-size: 22px !important;
        z-index: 2;
    }

    .jobs > div:nth-child(1) a {
        float: right;
        font-size: 10px;
    }

    .myjobsWrapper .myJobsBox {
        margin-top: 40px;
    }

    .myjobsWrapper header h2 {
        top: 9%;
        left: 2%;
        font-size: 26px;
        color: white;
        font-family: almoni-dl-aaa-regular;
    }

    .myjobsWrapper button {
        margin-top: 126px;
        background-color: transparent;
        border: 0;
        font-size: 14px;
        font-family: almoni-dl-aaa-regular;
        color: white;
        margin-right: 0;
        margin-left: 0px;
    }

    .myjobsWrapper svg {
        bottom: 2px;
    }

    .myjobsWrapper .nav > li > a {
        position: relative;
        display: block;
        padding: 0px 0px;
        font-size: 14px;
    }

    .myjobsWrapper .jobs {
        padding: 0px;
        border: 0px solid #231f20;
    }

    .myjobsWrapper #popoverData {
        position: absolute;
        right: 0px;
        top: 8px;
    }

    .myjobsWrapper .fa-2x {
        font-size: 2.3em;
    }

    .myjobsWrapper .jobs img {
        width: 31%;
        float: right;
        margin-top: -3px;
        margin-right: 10px;
    }

    .myjobsWrapper .jobs:first-child {
        margin-top: 18px;
    }

    .myjobsWrapper .jobs > div section {
    }

    /*candidates*/

    .candidates > div:nth-child(2) {
        height: 86px;
        margin-top: 16px;    
    }

    .candidates > div:nth-child(2) a {
        margin-top: 5%;
    }

    .candidates h3 {
        width: 40%;
        font-size: 120%;
    }

    .candidates p {
        font-size: 14px;
        padding-right: 80px;
    }

    .candidatesWrapper .tabsWrapper > div > h3 {
        text-align: left;
        position: relative;
        top: 22px;
        font-size: 20px;
        color: #fff;
        margin-bottom: 44px;
    }

    .candidatesWrapper button {
        font-size: 15px;
        padding-left: 0;
    }

    .candidatesWrapper h2 {
        padding-top: 12px;
        padding-bottom: 14px;
        font-size: 34px;
    }

    .candidatesWrapper .myJobsBox {
        margin-top: 40px;
        height: 100%;
    }

    .candidatesWrapper .engineering li {
        margin-right: 1%;
        margin-left: 1%;
        padding: 4px;
        font-size: 14px;
        cursor: pointer;
    }

    .candidatesWrapper .candidates > div:nth-child(2) section {
        top: 12px;
        left: -8px;
        width: 56px;
    }

    .candidatesWrapper .candidates {
        padding: 0px;
        border: 0px solid #231f20;
    }

    /*resume*/

    .resumeWrapper #predictAppend img {
        width: 30px;
        float: right;
        margin-right: 14px;
    }

    #predictAppend h2 {
        font-size: 20px;
        color: #fff;
        float: left;
        text-align: left;
        margin-bottom: 30px;
        width: 100%;
        margin-top: 10px;
        border: 1px solid #57b7ee;
        padding: 12px;
    }

    .skillbar {
        width: 100%;
    }

    .resumeWrapper .userDetailsBox {
        margin-top: 64px;
    }

    .resumeWrapper .redGrade {
        font-size: 15px;
        font-weight: bold;
    }

    .resumeYears {
        margin-top: 0px;
    }

    .resumeWrapper div#formulasAppend p {
        font-size: 14px;
        margin-top: 2px;
    }

    .resumeWrapper .skillsTitle {
        margin-bottom: -18px;
        margin-top: 30px;
    }

    .resumeWrapper .skillbar-title {
        left: -16px;
        width: 100%;
        font-size: 16px;
    }

    .resumeWrapper .timeline:before{
        display: none;
    }

    .resumeWrapper .userDetailsBox h3 {
        font-size: 17px;
        text-decoration: underline;
    }

    .resumeWrapper #candidateUnLike {
        padding: 0px 8px;
    }

    .resumeWrapper #candidateLike {
        padding-top: 10px;
    }

    .resumeWrapper .timeline > li > .timeline-badge {
        top: -22px;
        left: 53.7%;
    }

    .resumeWrapper h5 {
        font-size: 16px;
    }

    .resumeWrapper h4 {
        font-size: 16px;
    }

    .resumeWrapper .page-header {
        margin-bottom: 20px;
    }

    /*company profile*/

    .companyprofileWrapper .logos img {
        width: 70px;
        height: 70px;
    }
    .companyprofileWrapper .engineering {
        margin-top: 6px;
    }
    .companyprofileWrapper .tab-content {
        padding: 10px;
        padding-left: 4%;
        padding-right: 4%;
    }

    .companyprofileWrapper .tab-content {
        padding: 8px;
        padding-left: 2%;
        padding-right: 2%;
    }

    .companyprofileWrapper .engineering li {
        margin-right: 1%;
        margin-left: 1%;
        width: 46%;
        padding: 4px;
        font-size: 16px;
        cursor: pointer;
    }

    .companyprofileWrapper .form-group {
        margin-bottom: 15px;
        width: 100%;
    }

    .companyprofileWrapper .companies img {
        width: 66px;
        height: 66px;
    }

    .jobs > div:nth-child(2) section {
        width: 135px;
    }

    .navBarImg > img {
        height: 6px;
        width: 6px;
        position: absolute;
        top: 24%;
        left: 24%;
    }

    .navBarImg > img {
        height: 30px;
        width: 30px;
        left: 14%;
    }

    .navBarImg {
        width: 96%;
        margin: 0 auto;
        margin-top: 14px;
        left: 2%;
        display: none;
    }

    .navBar {
        padding-left: 11px;
    }

    .myJobsBox {
        height: 132px;
        width: 100%;
        position: relative;
        margin-top: -8px;
    }

    .form-control {
        display: block;
        width: 100%;
        margin-left: 0 auto;
    }

    .engineering {
        height: 28px;
        margin-top: 48px;
        clear: both;
    }

    .engineering li {
        margin-right: 1%;
        margin-left: 1%;
        padding: 4px;
        font-size: 11px;
        cursor: pointer;
    }

    #logo img {
        height: 41px;
        position: fixed;
        position: fixed;
        top: 8px;
        left: 8px;
        width: 40px;
    }

    .navBar > div:nth-child(2) > a > img {
        height: 40px;
        position: absolute;
        top: 0;
    }

    .navBarImg li a {
        font-size: 20px;
        padding-top: 8px;
    }

    .jobs > div:nth-child(2) section {
        width: 74px;
        top: 26px;
    }

    .jobs > div section {
        margin-left: 0 auto;
    }

    .jobs > div:nth-child(2) section h5 {
        position: absolute;
        left: 28%;
        font-size: 24px;
        bottom: 25px;
        font-size: 26px;
        font-family: almoni-dl-aaa-regular;
        font-weight: bold;
    }

    .jobs:first-child {
        margin-top: 24px;
    }

    .jobs {
        margin-left: 0;
        margin-top: 60px;
        width: 100%;
    }

    .mobile {
        display: block;
    }

    .web {
        display: none;
    }

    .tab-content section:hover {
        opacity: 1;
    }

    .nav-tabs li a {
        font-size: 15px;
    }

    .navBar > div:nth-child(1) {
        z-index: 1111;
        padding: 10px;
    }

    .navBar > div:nth-child(2) {
        margin: 0px;
    }

    .jobs > div > h3 {
        line-height: 21px;
        position: absolute;
        overflow: hidden;
        width: 66%;
        height: 25px;
        font-size: 14px !important;
    }

    .candidates > div:nth-child(2) section {
        bottom: 0px;
    }

    .candidates > div:nth-child(2) section h5 {
        top: 18px;
        left: 30%;
        font-size: 18px;
    }

    .candidates h5 {
        color: #606060;
        font-weight: bold;
        line-height: 21px;
        float: left;
        overflow: hidden;
        font-size: 19px !important;
    }

    .candidates {
        width: 100%;
    }

    #sliders li div span {
        width: 8px;
    }

    #user-container h5 {
        font-size: 5vw;
    }

    .matchResult #circle-container h2 {
        font-size: 10.5vw;
    }

    .candidates > div:nth-child(1) {
        padding: 10px 5px 0px;
    }

    .candidates > div:nth-child(1) a {
        margin-right: 0px;
        margin-left: 16px;
        text-align: right;
    }

    .readUnread {
        position: absolute;
        right: 70px;
        top: 30px;
    }

    .jobsList ul li {
        width: 100%;
        margin-top: 36px;
        margin-bottom: 38px;
    }

    .jobsList article {
        width: 100%;
        float: left;
    }

    .jobListLi a i {
        /*display: none;*/
    }

    .jobsTools {
        width: 15%;
    }

    .jobsTools a i {
        margin: 10px 0px 10px;
    }

    .jobs > div:nth-child(1) a i {
        margin-left: 0;
    }

    .nav-tabs {
        margin-top: 10px;
    }

    .jobs > div:nth-child(1) {
        padding: 10px 4px;
    }

    .tabsWrapper {
        padding: 10px 5px 0px;
    }

    .resumeWrapper > div {
        width: 100%;
    }

    .jobParametersWrapper {
        padding-bottom: 80px;
    }

    .resumeWrapper > div h3 {
        font-size: 6.2vw;
    }

    .resumeWrapper > div h4 {
        font-size: 3.5vw;
    }

    #job-circle-container h5 {
        position: absolute;
        top: 71%;
        left: 14%;
        font-size: 21px;
    }

    .jobSlider > h3 {
        font-size: 22px;
        margin-top: 114px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
    }

    .jobSlider label {
        font-size: 10px;
    }

    .jobSlider input {
        width: 75%;
    }

    .wrapper {
        padding: 0px 0px 70px;
    }

    .myjobsWrapper, .resumeWrapper {
        padding: 0px 10px 80px;
    }

    .jobs p {
        font-size: 16px;
    }

    .nav-tabs li {
        height: 66px;
    }

    .googleUsers {
        display: none;
    }

    .tabsContent .starRating {
        bottom: 10px;
        top: initial;
    }

    .matchResult {
        width: 100%;
    }

    .myjobsWrapper, .resumeWrapper, .readcvsWrapper, .unreadcvsWrapper,
    .favoritesWrapper, .jobParametersWrapper, .searchJobsWrapper, .yourJobsWrapper,
    .jobWrapper, .jobPageWrapper, .matchpageWrapper, .aboutWrapper,
    .companyprofileWrapper, .contactusWrapper, .profileWrapper, .candidatesWrapper {
        padding: 10px 10px 0px;
        width: 100%;
    }

    .myjobsWrapper > h3, .resumeWrapper > h3, .readcvsWrapper > h3,
    .unreadcvsWrapper > h3, .favoritesWrapper > h3, .jobParametersWrapper > h3,
    .searchJobsWrapper > h3, .yourJobsWrapper > h3, .jobWrapper > h3, .jobPageWrapper > h3,
    .aboutWrapper > h3, .contactusWrapper > h3,
    .matchpageWrapper > h3, .companyprofileWrapper > h3, .profileWrapper > h3, .candidatesWrapper > h3 {
        display: none;
    }

    #myManagmentJobs, #mySoftwareJobs, #myElectrialJobs, #myMechanicalJobs {
        height: 200px;
    }

    .swipeIcon {
        position: absolute;
        top: 5%;
        left: 35%;
        display: block;
    }

    .jobPageWrapper > a {
        float: left;
        margin-bottom: 70px;
    }

    .resumeSkillsBox {
        width: 100%;
    }

    #circle-container > h2, #circle-container1 > h2 {
        font-size: 5vw;
        line-height: 16vw;
    }

    .resumeDetailsBox {
        width: 100%;
    }

    .resumeDetailsBox div {
        width: 100%;
    }

    .resumeYears > div:nth-child(1) {
    }

    .myjobsWrapper form {
        width: 100%;
    }

    .myjobsWrapper form button {
        width: 25%;
    }

    .jobSlider div span {
        width: 125% !important;
    }

    .contactusWrapper div {
        width: 100%;
        margin-bottom: 1%;
        margin-left: 0%;
    }

    footer div {
        padding: 0px;
        display: none;
    }

    footer ul {
        padding: 0px;
    }

    footer ul li {
        padding: 0px;
        text-align: center;
        width: 26%;
    }

    footer {
        display: none;
    }

    footer ul li a {
        font-size: 3.5vw;
    }

    footer ul:nth-child(1) {
    }

    footer ul:nth-child(3) {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    footer ul:nth-child(3) a i {
        width: 100%;
        text-align: center;
    }

    footer ul:nth-child(3) a p {
        margin: 0px;
    }

    /*MEDIA TIMELINE*/
    .timeline > li > .timeline-panel {
        width: 100% !important;
        padding-bottom:0px !important;
        padding:0px !important;
        margin-top:0px !important;
        margin:0px !important;
        z-index: 2;
    }

    .timeline-inverted, .timeline-badge, .timeline > li > .timeline-panel:after,
    .timeline > li > .timeline-panel:before {
    }

    /*first page - google sign in*/

    .googleSignInImg {
        background: url("../../images/jobseekerCover.png") right bottom no-repeat;
        height: 100%;
        width: 420px;
        position: fixed;
        top: 0px;
        right: 0;
    }

    .googleSignInBox {
        opacity: 0.8;
        height: 42%;
        width: 90%;
        position: absolute;
        top: 24%;
        left: 4%;
    }

    .googleSignInBox img {
        opacity: 1;
        margin-top: 20px;
        margin-left: 40%;
        height: 30%;
        width: 30%;
    }

    .googleSignInWrapper h3 {
        padding-top: 32px;
        opacity: 1;
        font-size: 20px;
    }

    .googleSignInWrapper h4 {
        padding-top: 22px;
        opacity: 1;
        font-size: 106%;
    }

    .googleSignInWrapper .employer {
        margin-top: 38px;
    }

    /*job page*/

    .jobWrapper .contentWrapper .thumbnails .thumbnail {
        min-height: 100px;
        width: 90%;
        margin: 0 auto;
    }

    .jobWrapper .btn-group {
        background-color: #231f20;
        width: 25%;
        padding-top: 16px;
    }

    .jobWrapper {
        margin-top: 0;
    }

    .jobWrapper .pagination + section {
        width: 30%;
    }

    .jobWrapper header {
        margin-top: 60px;
    }

    .jobWrapper .btn-group {

        width: 100%;
    }

    .jobWrapper .pagination-lg > li:first-child > a {
        padding-left: 2%;
    }

    .jobWrapper .pagination-lg > li > a {
        padding-left: 2%;
    }

    .jobWrapper .pagination-lg > li:last-child > a {
        padding-left: 1%;
    }

    /*resume*/
    #users {
        top: 0;
    }

    .companyprofileWrapper {
        width: 100% !important;
        margin-top: 62px !important;
    }

    .companyprofileWrapper .companyLogo img {
        margin-top: 20px;
    }

    .jobWrapper .form-control {
        width: 100%;
    }

    .timelineTitle{
        color: #fff;
        display: block;
    }

    .fa-pulse{
        left: 40%;
    }

    /*hired*/
        .hiredWrapper{    padding: 10px 10px 0px;
            padding: 10px 10px 0px;
            width: 100%;
            margin-top: 28px;
        }

        .hiredWrapper .filterHired button {
            margin-right: 20px;
            position: relative;
            top: 36px;
            margin-top: 6px;
        }

        .hiredWrapper .hiredCandidatesLength {
            margin-top: 74px;
        }

}

