

.profileCoverJ{
    background: url("../../images/employerCover.png") right bottom no-repeat;
    height: 100%;
    width: 644px;
    position: fixed;
    top: 0px;
    right: 0;
    background-repeat: no-repeat;

}

.profileWrapper .btn-group label{color:#000;}

.profileWrapper .engineering li {
    float: left;
    padding-left: 0;
    margin-right: 16px;
    margin-left: 0;
}

.profileWrapper .form-control {
    display: block;
    width: 70%;
}



.profileWrapper .cvPreview .btn-default {
    border: 0;
    padding: 0;
    width: 100%;
    font-size: 20px;
    margin-top: 16px;
}

.profileWrapper .nav > li > a {
    position: relative;
    display: block;
    padding: 0;
    text-align: left;
    font-size: 20px;
}

.profileWrapper li a:hover,.profileWrapper li a:active:hover,.profileWrapper li a:focus {
    outline:none;
    opacity: 0.6;    background-color: transparent;
    color:#fff;
}

.profileWrapper .timeline-heading , .profileWrapper .timeline-body{
    background-color: transparent;
}

.profileWrapper .timeline-body p {

    padding-bottom: 0px;
}

.profileWrapper .timeline-body {
    margin-bottom: 4px;
}

.profileWrapper .timeline-heading {
    padding: 10px;
}

.profileWrapper .timeline-panel .form-group {
    margin-bottom: 15px;
    padding-left: 2%;
    padding-right: 2%;
}

.profileWrapper .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-radius: 0;
}

.profileWrapper .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
    color: #000;
}

.profileWrapper form .btn-default {
    border-radius: 0;
}

.profileWrapper .parseB {
    padding: 0px;
    width: 222px;
    height: 50px;
    margin-top: 64px;
    margin-bottom: 22px;
}

.profileWrapper .btn-defult {
    border-radius: 0;
    background: #ccc;
}

.profileWrapper .btn-warning {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    margin: 0 auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profileWrapper .btn-warning:hover {
    opacity: 0.7;
    border-color: #fff;
    background-color: #fff;
    border-color: #fff;

}

.profileWrapper .timeline > li.timeline-inverted > .timeline-panel:before {
    display: none;
}

.profileWrapper .timeline > li > .timeline-panel:after {
    top: 27px;
    right: -14px;
    display: none;
    border-top: 0px solid transparent;
    z-index: 233;
    border-left: 0px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.profileWrapper .page-header {
    margin: 0 auto;
    margin-top: 6px;
}

.profileWrapper {
    width: 75%;
    margin: 0 auto;
    margin-top: 0%;
    position: relative;
    margin-bottom: 10%;
}

.profileWrapper .navigation {
    top: 0px;
    left: 0;
}

.profileWrapper .btn-group {
    width: 100%;
}

.profileWrapper > ul li {
    margin-top: 10px;
}

.profileWrapper .timeline-badge {
    cursor: pointer;
}

.profileWrapper .userProfile .parseExperience label input {
    background-color: transparent;
    color: #fff;
    border: 0;
    font-size: 16px;
}

.profileWrapper .profileTitle {
    color: #fff;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 18px;
    font-size: 40px;
    font-family: almoni-dl-aaa-regular;
}


.profileWrapper select.form-control.ng-pristine.ng-untouched.ng-valid, select.form-control.ng-valid.ng-dirty.ng-valid-parse.ng-touched {
    width: 98%;
}

.profileWrapper .parserAfterText {
    color: antiquewhite;
    font-size: 18px;
    float:left;
}

.profileWrapper .fa-spin {
    position: absolute;
    left: 40%;
    bottom: 4%;
    color: #fff;
}

#myModal .modal-content {
    margin-top: 50px;
}

.profileWrapper .yearsProfile{
    width: 94px;
}

.profileWrapper .profileExpEdu{
    width: 100%;
    max-width: 100%;

}

.parserExperienceLanguage,.parserExperienceYearsLabel{width:50%; font-size: 20px;}

.parserExperienceYearsLabelAdded {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    width: 30%;
}

.parserExperienceLanguageAdded {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    float: left;
    padding-right: 2%;
    width: 30%;
}

.timeline-heading .mobileTitle{
    display: none;
}

.parserExperienceYearsLabel {
    width: 45%;
}
.parserExperienceLanguage {
    width: 45%;
}