
.searchJobsWrapper header h2, .yourJobsWrapper header h2 {
    padding-top: 0px;
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
    font-family: almoni-dl-aaa-regular;
}

.searchJobsWrapper .form-control {
    display: block;
    width: 100%;
}

.searchJobsWrapper button, .yourJobsWrapper button {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-family: almoni-dl-aaa-regular;
    color: white;
    float: left;
    margin-left: -1%;
}

.searchJobsWrapper button:hover, .searchJobsWrapper button:active:hover, .searchJobsWrapper button:focus {
    outline: none;
    opacity: 0.6;
    background-color: transparent;
    color: #fff;
}

.searchJobsWrapper form input, .yourJobsWrapper form input {
    margin-top: 20px;
    margin-left: 0%;
    width: 60%;
}

.searchJobsWrapper .checkMyCVButton {
    width: 25%;
    text-align: center;
    margin: 14px;
    margin-left: 0px;
}

.searchTitles span {
    font-size: 21px;
    font-weight: bold;
    float: left;
    margin-right: 5px;
    width: 100%;
}

/*.searchJobsWrapper .jobListLi p span {
    font-size: 21px;
    font-weight: bold;
    float: left;
    margin-right: 5px;
}*/

.searchJobsWrapper .fa-clock-o {
    float: left;
    margin-right: 10px;
    margin-top: 4px;
}

.visibleText>span{
    font-size: 24px;
}

