<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="il.ac.shenkar.cvmatcherapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission to get DeviceId -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Enables vibration permission for notification. -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--
     Creates a custom permission so only this app can receive its messages.

     NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
           where PACKAGE is the application's package name.
    -->
    <permission
        android:name="il.ac.shenkar.cvmatcherapplication.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="il.ac.shenkar.cvmatcherapplication.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- GCM requires Android SDK version 2.3 (API level 9) or above. -->
    <!-- The targetSdkVersion is optional, but it's always a good practice
         to target higher versions. -->

    <application
        android:name=".resources.App"
        android:allowBackup="true"
        android:icon="@drawable/cv_matcher_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SignInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UsersActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="PW_APPID"
            android:value="C6CEE-FFEC9" />
        <meta-data
            android:name="PW_PROJECT_ID"
            android:value="A91422993149" />

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <activity android:name="com.pushwoosh.richpages.RichPageActivity" />
        <activity android:name="com.pushwoosh.MessageActivity" />
        <activity android:name="com.pushwoosh.PushHandlerActivity" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="il.ac.shenkar.cvmatcherapplication" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.pushwoosh.GCMListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>

        <service
            android:name="com.pushwoosh.GCMInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service
            android:name="com.pushwoosh.GCMRegistrationService"
            android:exported="false">
        </service>

    </application>

</manifest>